.main__wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 1.125rem;
    font-weight: 700;
}

.listing-item__wrapper {
    margin-top: 0.875rem;
    margin-bottom: 3.6875rem;
    display: flex;
    flex-direction: column;
}

.listing-item {
    margin-top: 0.625rem;
}

.listing-item__content {
    display: flex;
}

.listing-item__content img {
    height: 6rem;
    width: 6rem;
}

.listing-item__title-pricing {
    margin-left: 0.1875rem;
    margin-top: 0.25rem;
}

.category-titles {
    width: 10.625rem;
    font-weight: 700;
}

.category-subtitles {
    color: #878787;
}

.item__buttons {
    margin-left: -0.25rem;
    position: absolute;
    color: #fff;
    display: flex;
}

.fav-item-button__wrapper {
    width: 3.5rem;
}

.fav-item-button__wrapper img {
    height: 1.6875rem;
    width: 2.5rem;
    opacity: 0.7;
    margin-top: -0.625rem;
    transform: translate(-1.0625rem, 0.625rem);
}

.cart-item-button__wrapper img {
    height: 1.6875rem;
    width: 2.5rem;
    margin-top: -0.625rem;
    transform: translate(-1.0625rem, 0.625rem);
}

.fav-item-button {
    width: 0.625rem;
    opacity: 0.7;
    border: none;
    background: none;
    cursor: pointer;
    transform: translate(0.625rem, -0.625rem);
}

.cart-item-button {
    width: 0.625rem;
    opacity: 0.7;
    border: none;
    background: none;
    cursor: pointer;
    transform: translate(0.625rem, -0.625rem);
}

.metodos__row {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.metodos__row:last-child {
  display: flex;
  justify-content: center;
}

.metodo__wrapper img {
    width: 26.25rem;
    margin-inline: 2.5rem;
}

.metodo__title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.footer-menu {
    margin-top: 1.0625rem;
}

.blogs {
    margin-top: 0.625rem;
    margin-bottom: 4.375rem;
}

.blog {
    width: 25rem;
}

.blog__title {
    height: 2.5625rem;
    margin-top: 2.5rem;
    font-weight: 700;
}
