.coffees {
    margin-inline: 17%;
    color: #535353;
}

.listing-overview {
    font-size: 0.875rem;
    text-align: center;
}

.coffees-listing {
    margin-top: 3.625rem;
    margin-bottom: 6.25rem;
}

.coffees-listing img {
    height: 13.125rem;
    width: 13.125rem;
}

.coffeeitemsrow2 {
    margin-inline: 14%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category__title2 {
    margin-inline: 14%;
    margin-top: 1.0625rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category__title2 a {
    color: #000;
    text-decoration: none;
}

.category__row__titles__5 {
    font-size: 0.9375rem;
    font-weight: 500;
}

.category_list_pricing2 {
    margin-inline: 14%;
    font-size: 0.875rem;
    text-align: center;
    color: #696969;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category_list_price_2 {
    margin-bottom: 4.5rem;
}
