.teas__wrapper {
    margin-inline: 17%;
    color: #535353;
}

.teas {
    margin-top: 10px;
    margin-bottom: 100px;
}

.teas img {
    height: 13.125rem;
    width: 13.125rem;
}

.teas__row {
    margin-inline: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.teaitemsrow2 {
    margin-inline: 14%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.teaitemsrow2 > * {
    display: flex;
    justify-content: center;
}

.category-title__lg {
    font-size: 18px;
}

.category-titles {
    margin-inline: 10%;
    margin-top: 2.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.category-titles a {
    color: #000;
    text-decoration: none;
}

.category__title2 {
    margin-inline: 14%;
    margin-top: 2.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category__title2 a {
    color: #000;
    text-decoration: none;
}

.category_list_pricing2 {
    margin-inline: 14%;
    font-size: 0.875rem;
    text-align: center;
    color: #696969;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category_list_price_2 {
    margin-bottom: 4.5rem;
}

.mw-300 {
    max-width: 18.75rem;
}
