.favs__row {
    width: 100vw;
    min-width: 1180px;
    display: flex;
    justify-content: center;
}

.favs__row > * {
    margin-inline: 10px;
}

.fav-item__title {
    width: 200px;
    padding-top: 40px;
}

.favs {
    margin-bottom: 4.625rem;
}

.favs span {
    margin-inline: 0;
}

.favs a {
    margin-left: 10px;
    color: #b8784e;
}

.footer-menu {
    bottom: 0px;
    width: 100vw;
}

.fav12 img {
    height: 13.125rem;
    width: 13.125rem;
}

.fav__item__price {
    width: 100px;
    padding-top: 40px;
}

.favbutton {
    background-color: #005bff;
    color: #fff;
    margin-left: 48%;
}

.quantity {
    width: 0.75rem;
}

.fav12 img {
    height: 13.125rem;
    width: 13.125rem;
}

.fav__item__price {
    width: 100px;
    padding-top: 40px;
}
