body a {
    text-decoration: none;
}

}.category-main-title__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.category-list__row {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.category-list__row img {
    height: 210px;
    width: 210px;
}

.item {
    margin-right: 14px;
    text-align: center;
}

.category-list__row__item {
    margin-inline: 9px;
}

.category-titles {
    text-align: center;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#category-titles-main {
    margin-top: -62px;
    margin-right: 23%;
}

.category-titles a {
    color: #000;
    text-decoration: none;
}

.category__row__tea-titles {
    margin-top: 40px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.category__row__tea-titles a {
    color: #000;
    text-decoration: none;
}

.category-list {
    margin:2rem 0;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.category-list-alt {
    margin: 7% 17%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category-list-alt-img {
    height: 310px;
    width: 283px;
}

#items-list-1 {
    margin-inline: 12vw;
}

.listing-item__pricing {
    font-size: 14px;
    color: #696969;
}

.item__title {
    font-size: 15px;
    font-weight: 500;
}

.category-title__lg {
    font-size: 22px;
    font-weight: 500;
}

.category-subtitles {
    margin-bottom: 67px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#category-subtitles-main {
    margin-right: 23%;
}

.item-title-alt {
    font-size: 15px;
}

.list-pricings {
    margin-inline: 17%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #696969;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.category_list_pricing1 {
    margin-inline: 17%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #696969;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.category_list_price_2 {
    width: 278px;
    margin-bottom: 72px;
}

.item__buttons {
    margin: 14px 0 14px -17px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.fav-item-button__wrapper {
    width: 96px !important;
}

.fav-item-button__wrapper img {
    height: 40px;
    width: 70px;
    opacity: 0.7;
    margin-top: -10px;
    transform: translate(-17px, 10px);
}

.cart-item-button__wrapper img {
    height: 40px;
    width: 70px;
}

.fav-item-button {
    opacity: 0.7;
    border: none;
    background: none;
    cursor: pointer;
    outline: none !important;
}

.cart-item-button {
    opacity: 0.7;
    border: none;
    background: none;
    cursor: pointer;
}

.row-h {
    width: 240px;
    margin-left: 42px;
    position: absolute;
    color: #fff;
    display: flex;
}

.category-subtitle {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #b8784e;
    text-align: center;
}

.categories-list-and-login {
    margin-top:40px;
    margin-bottom:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#category-list-main {
    margin-right: 3%;
}

.login__input {
    width: 140px;
}

#login {
    width: 190px;
    background: #fff;
    border: 1px solid #0396fd;
}

.login__header {
    height: 34px;
    font-size: 18px;
    color: #26428b;
    line-height: 18px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: -14px;
    border-bottom: 1px solid #26428b;
}

.login__inputs {
    margin: 14px;
    font-size: 13px;
    line-height: 1.42857143;
}

.login-button__wrapper {
    height: 82px;
    margin-top: -23px;
}

.login__reset-password {
    margin: 14px;
    font-size: 13px;
    line-height: 1.42857143;
    margin-top: -39px;
}

#login__register-link {
    margin: 14px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #0396fd;
    margin-top: -7px;
}

#login__terms {
    margin: 14px;
    font-size: 13px;
    line-height: 1.42857143;
    margin-top: -7px;
}

#login a {
    color: #0396fd;
    text-decoration: none;
}

#login-button {
    margin-left: 54px;
    margin-top: 4px;
    background-color: #0396fd;
    color: #fff;
}

.siga_twitter {
    display: flex;
    justify-content: center;
    margin: 40px 10px;
}

.blogs {
    margin: 10px 17px 70px 17px;
    display: flex;
    justify-content: center;
}

.blog {
    width: 400px;
}

.blog__title {
    height: 41px;
    margin-top: 40px;
    font-weight: 700;
}
