* {
    box-sizing: border-box;
}

.fa {
    font-size: 1.5625rem;
}

.left-bar {
    float: left;
    width: 5%;
    margin-top: 1.25rem;
}

.right-bar {
    margin-top: 1.25rem;
    float: left;
    width: 95%;
}

.row-bar:after {
    content: "";
    display: table;
    clear: both;
}

.review-rating:after {
    content: "";
    display: table;
    clear: both;
}

.left-review {
    float: left;
    width: 30%;
    margin-top: 1.25rem;
    text-align: center;
}

.right-review {
    float: left;
    width: 70%;
    margin-top: 1.25rem;
}

.review-title {
    font-size: 3.125rem;
}

.review-star {
    margin: 0 0 0.625rem 0;
}

.review-people .fa {
    font-size: 0.6875rem;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.bar-5 {
    height: 1.125rem;
    background-color: #57bb8a;
}

.bar-4 {
    height: 1.125rem;
    background-color: #9ace6a;
}

.bar-3 {
    height: 1.125rem;
    background-color: #ffcf02;
}

.bar-2 {
    height: 1.125rem;
    background-color: #ff9f02;
}

.bar-1 {
    height: 1.125rem;
    background-color: #ff6f31;
}

.star-rating {
    text-align: center;
}

.star-rating .fa:hover {
    color: orange;
}

.heading {
    font-size: 1.5625rem;
    color: #999;
    border-bottom: 0.125rem solid #eee;
}

@media (max-width: 400px) {
    .left-bar, .right-bar, .left-review, .right-review {
        width: 100%;
    }
}
