{% extends 'base.html' %}

{% block head %}

<link rel = 'stylesheet' href = 'static/css/aprendamais.css'>
<script>
    var items = {{ items|tojson }}
</script>

{% endblock %}

{% block body %}

<div class = 'main__wrapper'>
    <div class = 'main__posts-and-listing'>
        <div class = 'title'>
            POSTS RECENTES
        </div>

        <div class = 'blogs'>
            {% for newblog in new_blogs %}
            <div class = 'blog'>
                <div class = 'blog__title'>
                    {{ newblog[0] }}
                </div>
                <div class = 'blog__content'>
                    {{ newblog[1] }}
                </div>
                <div class = 'blog__author'>
                    By <span>{{ newblog[2] }}</span>
                </div>
            </div>
            {% endfor %}
        </div>

    <div class = 'title'>
        NOSSOS CAFÉS
    </div>
    {% for i in range(9) %}
        <div class = 'listing-item__wrapper'>
            <div class = 'listing-item'>
                <div class = 'listing-item__content'>
                    <img src = '{{ items[i].imagesource }}'>
                    <div class = 'listing-item__title-pricing'>
                        <div class = 'category-titles gold'>
                            {{ items[i]['title'] }}
                        </div>
                        <div class = 'category-subtitles'>
                            {{ items[i]['pricing'] }}
                        </div>
                    </div>
                </div>
                <div class = 'item__buttons'>
                    {% for item in ['fav', 'cart'] %}
                    <div class = '{{ item }}-item-button__wrapper'>
                        <button class = '{{ item }}-item-button'>
                            <img src = './static/images/item_{{ item }}.png' class = '{{ item }}-item-button__img'>
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class = 'metodos'>
        {% set j = [1] %}
        {% for i in range (1, 10, 2) %}
        <div class = 'metodos__row'>
            <div class = 'metodo__wrapper'>
                <img src = 'static/images/metodo{{ i }}.png'>
                <div class = 'metodo__title gold'>
                    MÉTODO {{ metodos[i-1] }}
                </div>
            </div>
            {% if i != 9 %}
            <div class = 'metodo__wrapper'>
                <img src = 'static/images/metodo{{ i+1 }}.png'>
                <div class = 'metodo__title gold'>
                    MÉTODO {{ metodos[i] }}
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<script type = 'text/javascript' src = 'static/js/listing-page.js'></script>
<script>
    var cafeTitle = document.getElementsByClassName('titlecafe')[0];
    cafeTitle.innerHTML = 'APRENDA MAIS';
</script>

{% endblock %}