{% extends 'base.html' %}

{% block head %}

<link rel = 'stylesheet' href = 'static/css/blogs.css'>

{% endblock %}

{% block body %}

<div class = 'allblogs'>
    <h1>All Blogposts</h1>
    {% for blog in blogs %}
        <div class = 'oneblogpost'>
            <div class = 'oneblogpost1'>
        <div class = 'allblogs1'>{{ blog.title }}&nbsp;\&nbsp;{{ blog.created }}</div>
        <br>
        <div class = 'allblogs1'>
            By {{ author }}
        </div>
            <a href = '/blogs/delete/{{ blog.id }}'>Delete</a>
            <a href = '/edit/{{ blog.id }}'>Edit</a>
            </div>
                <div class = 'oneblogpost2'>
                    <div class = 'featuredblog'>
                        FEATURED
                    </div>
                </div>
        </div>
        <br>
    {% endfor %}
    <form action = '/blogs' method = 'POST'>
        Title:<br><input type = 'text' name = 'title' id = 'title'>
        <br>
        Post:<br><textarea class = 'content' name = 'content' id = 'content'></textarea><br>
        <input type = 'submit' value = 'POST'>
    </form>
</div>
<script type = 'text/javascript' src = 'static/js/blogs.js'></script>

{% endblock %}