{% extends 'base.html' %}

{% block head %}

<link rel='stylesheet' href='static/css/cafes.css'>
<script>
    var items = {{ items|tojson }}
</script>

{% endblock %}

{% block body %}

<div class='coffees'>
    <div class='listing-overview'>
        Aqui está nossa seleção de cafés especiais. São cafés de variedades e regiões distintas proporcionando um
        sensorial totalmente diferente. Todos de alta qualidade <br>
        (com pontuação superior a 80 pontos pela Specialty Coffee Association) produzidos e torrados semanalmente de
        forma a potencializar suas melhores <br>
        características. A diferença para um café tradicional é bem marcante o que torna a experiência de tomar um café
        especial uma viagem sem volta.<br>
        Escolha o que mais lhe agrada ou leve todos e faça uma aventura sensorial deliciosa.<br><br>

        Uma boa xícara!
    </div>
    <div class='coffees-listing'>
        <div class='listing-item__content'>
            {% for i in range (3) %}
            <div class="listing-item">
                <div class='listing-item__img'>
                    <img src='static/images/compre{{ i + 6 }}.png'>
                </div>
                <div class='item__buttons'>
                    {% for item in ['fav', 'cart'] %}
                    <div class='{{ item }}-item-button__wrapper'>
                        <button class='{{ item }}-item-button'>
                            <img src='./static/images/item_{{ item }}.png' class='{{ item }}-item-button__img'>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                <a href='/{{ i }}'>
                    <div class='category-title__lg gold'>{{ items[i].title }}</div>
                </a>
                <div class='list-pricings__item'>{{ items[i].pricing }}</div>
            </div>
            {% endfor %}
        </div>
        <div class='listing-item__content'>
            {% for i in range (3) %}
            <div class="listing-item">
                <div class='listing-item__img'>
                    {% set j = i + 9 if i != 2 else i + 13 %}
                    <img src='static/images/compre{{ j }}.png'>
                </div>
                <div class='item__buttons'>
                    {% for item in ['fav', 'cart'] %}
                    <div class='{{ item }}-item-button__wrapper'>
                        <button class='{{ item }}-item-button'>
                            <img src='./static/images/item_{{ item }}.png' class='{{ item }}-item-button__img'>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                {% set j = i + 3 if i != 2 else i + 7 %}
                <a href='/{{ j }}'>
                    <div class='category-title__lg gold'>{{ items[j].title }}</div>
                </a>
                <div class='list-pricings__item'>{{ items[j].pricing }}</div>
            </div>
            {% endfor %}
        </div>
        <div class='listing-item__content'>
            {% for i in range (3) %}
            <div class="listing-item">
                <div class='listing-item__img'>
                    <img src='static/images/compre{{ i + 16 }}.png'>
                </div>
                <div class='item__buttons'>
                    {% for item in ['fav', 'cart'] %}
                    <div class='{{ item }}-item-button__wrapper'>
                        <button class='{{ item }}-item-button'>
                            <img src='./static/images/item_{{ item }}.png' class='{{ item }}-item-button__img'>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                <a href='/{{ i + 10 }}'>
                    <div class='category-title__lg gold'>{{ items[i + 10].title }}</div>
                </a>
                <div class='list-pricings__item'>{{ items[i + 10].pricing }}</div>
            </div>
            {% endfor %}
        </div>
        <div class='row'>
            {% for i in range (2) %}
            <div class="listing-item">
                <div class='listing-item__img'>
                    <img src='static/images/compre{{ i + 19 }}.png'>
                </div>
                <div class='item__buttons'>
                    {% for item in ['fav', 'cart'] %}
                    <div class='{{ item }}-item-button__wrapper'>
                        <button class='{{ item }}-item-button'>
                            <img src='./static/images/item_{{ item }}.png' class='{{ item }}-item-button__img'>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                <a href='/{{ i + 13 }}'>
                    <div class='category-title__lg gold'>{{ items[i + 13].title }}</div>
                </a>
                <div class='list-pricings__item'>{{ items[i + 13].pricing }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script type='text/javascript' src='static/js/listing-page.js'></script>
<script>
    var cafeTitle = document.getElementsByClassName('titlecafe')[0];
    cafeTitle.innerHTML = 'NOSSOS CAFÉS';
</script>

{% endblock %}
