{% extends 'base.html' %}

{% block head %}

<link rel = 'stylesheet' href = 'static/css/cart.css'>
<script>
    var items = {{ items|tojson }}
</script>

{% endblock %}

{% block body %}

<div id = 'cart' class="main-content">
    <form action = '/cart' method = 'POST' onsubmit = "validateCart()" >
        <div class = 'cart__row'></div>
        <div id = 'cart_total'>TOTAL: R$</div>
        {% if loggedinuser %}
        <button class = 'cart-btn' name = 'submit' value = 'cart_submit'>BUY ALL!</button>
        {% else %}
        <div class = 'cartlogin'>You must be logged in to purchase</div>
        {% endif %}
    </form>
</div>
<script src = 'static/js/cart.js'></script>

{% endblock %}
