{% extends 'base.html' %}

{% block head %}

<link rel = "stylesheet" href = "static/css/cha.css">
<script>
    var items = {{ items|tojson }}
</script>

{% endblock %}

{% block body %}

<div class = "teas__wrapper">
    <div class = "teas">
        <div class = "teas__row">
            {% for i in range (3) %}
            <div class="listing-item">
                <div class='row-h'>
                    <img src='static/images/compre{{ i + 11 }}.png'>
                </div>
                <div class='item__buttons'>
                    {% for item in ['fav', 'cart'] %}
                    <div class='{{ item }}-item-button__wrapper'>
                        <button class='{{ item }}-item-button'>
                            <img src='./static/images/item_{{ item }}.png' class='{{ item }}-item-button__img'>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                <a href='/{{ i + 5 }}'>
                    <div class='category-title__lg gold'>{{ items[i + 5].title }}</div>
                </a>
                <div class='listing-item__pricing'>{{ items[i + 5].pricing }}</div>
            </div>
            {% endfor %}
        </div>
        <div class = "teas__row">
            {% for i in range (3) %}
            <div class="listing-item">
                <div class='row-h'>
                    {% set j = 14 if i == 0 else i + 20 %}
                    <img src='static/images/compre{{ j }}.png'>
                </div>
                <div class='item__buttons'>
                    {% for item in ['fav', 'cart'] %}
                    <div class='{{ item }}-item-button__wrapper'>
                        <button class='{{ item }}-item-button'>
                            <img src='./static/images/item_{{ item }}.png' class='{{ item }}-item-button__img'>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                {% set j = 8 if i == 0 else i + 14 %}
                <a href='/{{ j }}'>
                    <div class='category-title__lg gold'>{{ items[j].title }}</div>
                </a>
                <div class='listing-item__pricing'>{{ items[j].pricing }}</div>
            </div>
            {% endfor %}
        </div>
        <div class='row'>
            {% for i in range (2) %}
            <div class="listing-item {% if i == 0 %}mr-4{% endif %}">
                <div class='row-h'>
                    <img src='static/images/compre{{ i + 22 }}.png'>
                </div>
                <div class='item__buttons'>
                    {% for item in ['fav', 'cart'] %}
                    <div class='{{ item }}-item-button__wrapper'>
                        <button class='{{ item }}-item-button'>
                            <img src='./static/images/item_{{ item }}.png' class='{{ item }}-item-button__img'>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                <a href='/{{ i + 16 }}'>
                    <div class='category-title__lg gold'>{{ items[i + 16].title }}</div>
                </a>
                <div class='listing-item__pricing'>{{ items[i + 16].pricing }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script type = "text/javascript" src = "static/js/listing-page.js"></script>
<script>
    var cafeTitle = document.getElementsByClassName('titlecafe')[0];
    cafeTitle.innerHTML = 'NOSSOS CHÁS';
</script>

{% endblock %}