{% extends 'base.html' %}

{% block head %}

<link rel = "stylesheet" href = "static/css/cha.css">
<script>
    var items = {{ items|tojson }}
</script>

{% endblock %}

{% block body1 %}

{% if loggedinuser %}
<div class = "checkifloggeduser">
    <div class = "checkifloggeduser1">
        {% if is_admin %}
            <span class = "logged_in_name_admin">
                {{ loggedinuser }}
            </span>
        {% else %}
            <span class = "logged_in_name">
                {{ loggedinuser }}
            </span>
        {% endif %}
        <a href = "/logout">Logout</a>
    </div>
</div>
{% endif %}

{% endblock %}

{% block body %}

<div class = "teas__wrapper">
    <div class = "teas">
        <div class = "teas__row">
            {% for i in range (11, 14) %}
            <div class = "teas__row__item">
                <img src = "static/images/compre{{ i }}.png">
                <div class = "item__buttons">
                    <div class = "fav-item-button__wrapper">
                        <button class = "fav-item-button">
                            <img src = "./static/images/item_fav.png" class = "fav-item-button__img">
                        </button>
                    </div>
                    <div class = "cart-item-button__wrapper">
                        <button class = "cart-item-button">
                            <img src = "./static/images/item_cart.png" class = "cart-item-button__img">
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class = "category-titles">
            {% for i in range(5, 8) %}
                <a href = "/{{ i }}">
                    <div class = "category-title__lg gold">
                        {{ items[i].title }}
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class = "list-pricings">
            {% for i in range (5, 8) %}
                <div class = "list-pricings__item">
                    {{ items[i].pricing }}
                </div>
            {% endfor %}
        </div>
        <div class = "teas__row">
            {% for i in [14, 21, 22] %}
                <div class = "teas__row__item">
                    <img src = "static/images/compre{{ i }}.png">
                    <div class = "item__buttons">
                        <div class = "fav-item-button__wrapper">
                            <button class = "fav-item-button">
                                <img src = "./static/images/item_fav.png" class = "fav-item-button__img">
                            </button>
                        </div>
                        <div class = "cart-item-button__wrapper">
                            <button class = "cart-item-button">
                                <img src = "./static/images/item_cart.png" class = "cart-item-button__img">
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class = "category-titles">
            {% for i in [8, 15, 16] %}
                <a href = "/{{ i }}">
                    <div class = "category-title__lg gold">
                        {{ items[i].title }}
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class = "list-pricings">
            {% for i in [8, 15, 16] %}
                <div class = "list-pricings__item">
                    {{ items[i].pricing }}
                </div>
            {% endfor %}
        </div>
        <div class = "teaitemsrow2">
            {% for i in range(23, 25) %}
                <div class = "teas__row__item">
                    <img src = "static/images/compre{{ i }}.png">
                    <div class = "item__buttons-alt">
                        <div class = "fav-item-button__wrapper">
                            <button class = "fav-item-button">
                            <img src = "./static/images/item_fav.png" class = "fav-item-button__img">
                            </button>
                        </div>
                        <div class = "cart-item-button__wrapper">
                            <button class = "cart-item-button">
                                <img src = "./static/images/item_cart.png" class = "cart-item-button__img">
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class = "category__title2">
            {% for i in range (17, 19) %}
                <a href = "/{{ i }}">
                    <div class = "row">
                        <div class = "category__row__titles__5 gold mw-300">
                            {{ items[i].title }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class = "category_list_pricing2">
            {% for i in range (17, 19) %}
                <div class = "category_list_price_2">
                    {{ items[i].pricing }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script type = "text/javascript" src = "static/js/listing-page.js"></script>
<script>
    var cafeTitle = document.getElementsByClassName('titlecafe')[0];
    cafeTitle.innerHTML = 'NOSSOS CHÁS';
</script>

{% endblock %}