{% extends 'base.html' %}

{% block head %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/register.css') }}">
<script>
    var allUsers = {{ all_users|tojson }}
</script>
{% endblock %}

{% block body %}
<div id='register' class="row-v main-content">
    <img class='mx-auto' height='48px' width = '78px' src="{{ url_for('static', filename = '/images/logo-alt.png') }}" alt="logo">
    <div id="register__title" class="tracking-tight mx-auto">
        Register
    </div>
    <div id='register__board' class="mx-auto">
        <form action='/register' method='POST' onsubmit='return validateRegistration(event)'>
            <div class='input__wrapper'>
                <img src="{{ url_for('static', filename = '/images/icons/email.jpg') }}">
                <input id='email' type='text' name='email' placeholder='Email'>
            </div>
            <div class='input__wrapper'>
                <img src="{{ url_for('static', filename = '/images/icons/login.jpg') }}">
                <input id='username' type='text' name='username' placeholder='Username'>
            </div>
            <div class='input__wrapper'>
                <img src="{{ url_for('static', filename = '/images/icons/password.jpg') }}">
                <input id='password1' type='password' name='password' placeholder='Password'>
            </div>
            <div class='input__wrapper'>
                <img src="{{ url_for('static', filename = '/images/icons/password.jpg') }}">
                <input id='password2' type='password' placeholder='Confirm password'>
            </div>
            {% set errors = {
            'email': "Email doesn't exist",
            'username': 'Username is too short',
            'password': 'Password is too short',
            'password-matching': "Passwords don't match",
            'unique-username': 'Username already exists',
            'unique-email': 'Email already exists'
            } %}
            {% for k, v in errors.items() %}
            <div class='handlepotentialerrors' id='{{ k }}-error'>
                {{ v }}
            </div>
            {% endfor %}
            <div class="row">
                <div>
                    <div id='have-account'>
                        Already have an account? <a href='login'>Log in</a>
                    </div>
                    <div class="row">
                        <input type='submit' class='submit-btn' name='submit' value='Submit'>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type='text/javascript' src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
