{% extends 'base.html' %}

{% block head %}
    <link rel='stylesheet' href='static/css/register.css'>
    <script>
        var items = {{ items|tojson }}
    </script>
{% endblock %}

{% block body %}
    <div class='register'>
        <div class='register__header'></div>
        <div class='register__board'>
            <span>Sign up</span><br>
            <span>Personal Details</span>
            <form action='/register' method='POST' onsubmit='return validateRegister(event)'>
                <div class='register__field'>
                    <div class='register__field__title'>Email</div>
                    <div class='register__field__value'>
                        <input name='email' class='form2input' id='email'>
                    </div>
                </div>
                <div class='register__field'>
                    <div class='register__field__title'>
                        Username
                    </div>
                    <div class='register__field__value'>
                        <input name='username' class='form2input' id='username'>
                    </div>
                </div>
                <div class='register__field'>
                    <div class='register__field__value'>
                        Password
                    </div>
                    <div class='register__field__title'>
                        <input name='password' class='form2input' id='password' type='password'>
                    </div>
                </div>
                <div class='register__field'>
                    <div class='register__field__value'>
                        Confirm Password
                    </div>
                    <div class='register__field__title'>
                        <input name='password-confirm' class='form2input' id='password-confirm' type='password'>
                    </div>
                </div>
                <input type='submit' id='register-btn' name='submit' value='Submit'>
            </form>
        </div>
    </div>
    <script type='text/javascript' src='static/js/register.js'></script>
{% endblock %}
